// ==================================================================
// Themes / Dark
// ==================================================================

html.dark {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-edition-image: #333;
}
